---
---

@import "{{ site.theme }}";

body {
  background: linear-gradient(#20201a, #24201d);
}

section {
  max-width: 100%;
}

.wrapper {
  max-width: 900px;
}

#header nav {
  max-width: 900px;
}

#header nav ul li a {
  color: white;
  border: 1px solid #91700b;
  background: linear-gradient(#bdbb20, #9e7410);
  background-color: #bdac20;
  line-height: 8px;
  font-weight: bold;
}

#header nav ul li a:hover {
  background: linear-gradient(#91773a, #7f580e);
  background-color: #9b852f;
  border: 1px solid #9b9351;
}

.admonition-tip {
  background-color: #2f3719;
  border-left: 5px solid #659e10;
  padding: 10px;
  margin: 10px 0;
}

.admonition-note {
  background-color: #0b323e;
  border-left: 5px solid #419dac;
  padding: 10px;
  margin: 10px 0;
}

.admonition-important {
  background-color: #3a1d3e;
  border-left: 5px solid #a02da4;
  padding: 10px;
  margin: 10px 0;
}

.admonition-warning {
  background-color: #553717;
  border-left: 5px solid #d28445;
  padding: 10px;
  margin: 10px 0;
}

.admonition-caution {
  background-color: #481b1b;
  border-left: 5px solid #d73434;
  padding: 10px;
  margin: 10px 0;
}
